.card-description h3 {
  font-size: 16px;
}

.card-description {
  font-size: 13px;
}

.total {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .product-card {
    max-width: 600px;
    padding: 50px;
  }
}

.product-img {
  width: 150px;
}